<a href="https://colab.research.google.com/github/zhemnic/Learning-Repo/blob/master/Exercise_Beginner.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
## Question 1

print('Learn Python!')

Learn Python!

In [ ]:
## Question 2

age = 20
print(f'I am {age} years old.')

I am 20 years old.

In [ ]:
## Question 3
my_language = 'Python'
my_version = '3.8'

print(f'I am learning {my_language} version {my_version}')

I am learning Python version 3.8

In [ ]:
## Question 4
price = 199.99
print('This costs',price)

This costs 199.99

In [ ]:
## Question 5
price = 69.99
print(f'This costs {price}')

This costs 69.99

In [ ]:
## Question 6
product_price = 34.99
product_weight = 20

print(f'Price: ${product_price}. Weight: {product_weight} lbs.')

Price: $34.99. Weight: 20 lbs.

In [ ]:
## Question 7

pi = 3.1415926535
print(f"Pi: {pi:.2f}")

Pi: 3.14

In [ ]:
## Question 8

dashes = '----------------------------------------'
version = 'VERSION: 1.0.1'
# len(dashes)

print(dashes)
print(version)
print(dashes)

----------------------------------------
VERSION: 1.0.1
----------------------------------------

In [ ]:
## Question 9

line1 = 'author: johnsmith@sample.com'
line2 = 'date: 01-01-2021'

print('='*40)
print('author: johnsmith@sample.com')
print('date: 01-01-2021')
print('='*40)

========================================
author: johnsmith@sample.com
date: 01-01-2021
========================================

In [ ]:
## Question 10

print('\'summer', 'time','holiday\'',sep='#')

'summer#time#holiday'

In [ ]:
## Question 11

pi = 3.14
radius = 5
area = (pi)*(radius**2)
print(f'Area: {area}')

Area: 78.5

In [ ]:
area

78.5

In [ ]:
## Question 12
'''

Simple Interest Formula: A = P (1 + rt)
***********************

  A	=	final amount
  P	=	initial principal balance
  r	=	annual interest rate
  t	=	time (in years
  
Compound Interest Formula: A = P(1 + \frac{r}{n})^{nt}

  A	=	final amount
  P	=	initial principal balance
  r	=	interest rate
  n	=	number of times interest applied per time period e.g. (1 - yearly | 12 - monthly | 54 - weekly)
  t	=	number of time periods elapsed

'''

# answer: 1159.27

P = 1000
r = 3/100
n = 1
t = 5

A = P * (1+(r/n))**(n*t)

print("The future value of the investment:", round(A,2), "USD")

The future value of the investment: 1159.27 USD

In [ ]:
# import the math module 
import math 

## Question 13

# 3x^2 -4x + 1 = 0

'''
# calculate the discriminant  
d = (b**2) - (4*a*c)  
  
# find two solutions  
sol1 = (-b-cmath.sqrt(d))/(2*a)  
sol2 = (-b+cmath.sqrt(d))/(2*a)  

'''

a = 3
b = -4
c = 1

d = (b**2) - (4*a*c)            # (16 - 12) = 4
                                # Delta = b^2 -4ac

# sol1 = (-b-math.sqrt(d))/(2*a)  # (-4-2)/6 -> -1 
# sol2 = (-b+math.sqrt(d))/(2*a)  # (-4+2)/6 -> 1/3 

delta = (b**2) - (4*a*c)
print(f"Delta: {delta}")

Delta: 4

In [ ]:
## Question 14

'''
an = 10 + 4n

'''

sum = 0
sequence = 10

for e in range(1, (sequence + 1) ):
  sum = sum + (10 + 4*e)
  ## print(f"{e} makes sum to be {sum}") # debug


print(f"The sum of the first {sequence} elements in a sequence: {float(sum)}")

The sum of the first 10 elements in a sequence: 320.0

In [ ]:
## Question 15

'''
nth term = 8 * (2**(n-1))
  where n is the number of sequences
'''
sum2 = 0
sequence = 6

for n in range(1, (sequence + 1)):
  sum2 = sum2 + 8 * (2**(n-1))

print(f"The sum of the first {sequence} elements of the sequence is: {float(sum2)}")

The sum of the first 6 elements of the sequence is: 504.0

In [ ]:
## Question 16

'''
Vieta's Formula

ax^2 + bx + c = 0

  Theorem 1
  *********

    Let r1 and r2 be the roots of the quadratic equation ax2 + bx + c = 0. 
    Then the two identities:

      r1 + r2 = −b/a and  r1 * r2 = c/a

    both hold

'''

a = 1
b = 5
c = 4

r1_add_r2 = (-1) * (b/a)
r1_multiply_r2 = (c/a)

print(f'x1 + x2 = {r1_add_r2}')
print(f'x1x2 = {r1_multiply_r2}')

x1 + x2 = -5.0
x1x2 = 4.0

In [ ]:
## Question 17

'''
Midpoint Formula:
****************

  Midpoint = (mx, my)
  Midpoint = ( (x1 + x2)/2 , (y1 + y2)/2 )

'''
# A = (2,4)   B = (-4,6)

x1 = 2
y1 = 4

x2 = -4
y2 = 6

mx = (x1 + x2)/2
my = (y1 + y2)/2

print(f"The middle point: ({mx}, {my})")

The middle point: (-1.0, 5.0)

In [ ]:
# import the math module 
import math

## Question 18

'''
Distance Formula:
*****************

  Distance = math.sqrt( (x2-x1)**2 + (y2-y1)**2 )

'''

# A = (3,2)   B = (-1, -1)

x1 = 3
y1 = 2

x2 = -1
y2 = -1

d = math.sqrt( (x2-x1)**2 + (y2-y1)**2 )

print(f'The distance between points A and B: {d}')

The distance between points A and B: 5.0

In [ ]:
## Question 19

import math

'''
  d = (b**2) - (4*a*c)  

  # find two solutions  
  sol1 = (-b-math.sqrt(d))/(2*a)  
  sol2 = (-b+math.sqrt(d))/(2*a) 
'''

a = 1
b = 5
c = 4

d = (b**2) - (4*a*c)  

x1 = (-b-math.sqrt(d))/(2*a)  
x2 = (-b+math.sqrt(d))/(2*a)

print(f"x1 = {x1}")
print(f"x2 = {x2}")

x1 = -4.0
x2 = -1.0

In [ ]:
# Question 20

'''
  Formula for Geometric Mean (grouped data):  Gm = Antilog( (sum of log(x) / n ) )
  where: 
    n is the single elements
    x is the number of iterations

'''

import math

sum_of_logs = 0
grouped_data = [ 4, 3, 4.5, 5]

for i in range(0, len(grouped_data)):
  x = grouped_data[i]
  sum_of_logs = sum_of_logs + math.log(x)
  print(f"{i} - sum is {sum_of_logs} because log({x}): {math.log(x)}")

print("\n")
geometric_mean = math.exp(sum_of_logs/len(grouped_data))

print(f"Geometric average of the given numbers: {geometric_mean:.2f}")

0 - sum is 1.3862943611198906 because log(4): 1.3862943611198906
1 - sum is 2.4849066497880004 because log(3): 1.0986122886681098
2 - sum is 3.9889840465642745 because log(4.5): 1.5040773967762742
3 - sum is 5.598421958998375 because log(5): 1.6094379124341003


Geometric average of the given numbers: 4.05

In [25]:
## Question 21

'''
  Formula for an 
  Infinite Geometric Sequence: gS = a*( 1 / (1 - r) )

    where: 
        a is the first term
        r is the common ratio (the factor between the terms)
        r != 0 AND -1 < r < 1

'''

sequence = [ 1, 1/2, 1/4, 1/8]
r = 0

for x in range(0, len(sequence)):
  index = len(sequence) - x - 1

  quotient = sequence[index] / sequence[index-1]

  if quotient > -1 and quotient < 1:

    is_q_true = quotient > -1 and quotient < 1
    # print("q: ", quotient, "\t"," -1 < q < 1", is_q_true)
    r = quotient

a = 1
gS = a*( 1 / (1 - r) )

print(f"The sum of the sequence: {gS}")

The sum of the sequence: 2.0

In [44]:
## Question 22

'''
The standard deviation is the average amount of variability in your dataset. 
It tells you, on average, how far each value lies from the mean. 
A high standard deviation means that values are generally far from the mean, 
while a low standard deviation indicates that values are clustered close 
to the mean.

Formula for Standard Deviation of a POPULATION:
********************************************** 

sD = math.sqrt( (sum(X - u)**2) / N)

where:
  sD  - the population standard deviation
  X   - each value (individual values of a population / not a sample)
  u   - population mean
  N   - number of values in the population

'''

import math

dataset = [10, 11, 9]

# find the mean: 
# mean = sum of all dataset values/length of the dataset
u = sum(dataset)/len(dataset)

# find the deviation from each mean:
# subtract the mean from each value and then square it

deviation = list()

for x in range(len(dataset)):
  '''
  print(
      "i: ", x, 
      f"\t {dataset[x]} - {u} = ",(dataset[x]-u), "\t",
      f"(x - u)**2 = {(dataset[x]-u)**2}" )
  '''
  deviation.append((dataset[x]-u)**2)

# N = number of values in a population
N = len(dataset)

# apply the formula
sD = math.sqrt( (sum(deviation)/N) )

print(f"The standard deviation: {round(sD, 2)}")

The standard deviation: 0.82

In [61]:
## Question 23

filename = 'view.jpg'
string_length = len(filename)
print(filename[string_length - 3:])

#   v i e w . j p g
#   0 1 2 3 4 5 6 7
# print(filename[-3:])
# print(filename[5:])

jpg

In [62]:
## Question 24

string = 'PKV-89415-PLN'

# P K V - 8 9 4 1 5 - P  L  N
# 0 1 2 3 4 5 6 7 8 9 10 11 12

# string[0:3]
first_str = string[:3]

# string[-3:12]
last_str = string[-3:]

final_str = first_str + last_str

print(f"{final_str}")

PKVPLN

In [78]:
## Question 25

'''
Convert number from binary(base 2) to decimal(base 10):
*******************************************************

formula: decimal = d0×20 + d1×21 + d2×22 + ...

(100101)₂ =   (1 × 2⁵) + 
              (0 × 2⁴) + 
              (0 × 2³) + 
              (1 × 2²) + 
              (0 × 2¹) + 
              (1 × 2⁰) = (37)₁₀
'''

string = '1 0 0 1 0 1'

# 1 _ 0 _ 0 _ 1 _ 0 _ 1
# 0 1 2 3 4 5 6 7 8 9 10

# remove the slices
no_space = string[0:len(string):2]

str_len = len(no_space)
# print(f"string: {no_space} \t length: {str_len}")

# convert to int
int_list = list()
sum = 0

for i in range(len(no_space)):

  decimal_val = int(no_space[i])*(2**(str_len - i - 1)) 
  sum = sum + decimal_val

  '''
  print(
      f"i:{i} -> sum:{sum} \t"
      f"{no_space[i]} x 2**{str_len - i - 1} = {decimal_val}")
  '''

print(f'Number found: {sum}')

'''
# alternate answer
string = '1 0 0 1 0 1'
binary = string[::2]
number = int(binary, 2)
print(f'Number found: {number}')
'''

string: 100101 	 length: 6
i:0 -> sum:32 	1 x 2**5 = 32
i:1 -> sum:32 	0 x 2**4 = 0
i:2 -> sum:32 	0 x 2**3 = 0
i:3 -> sum:36 	1 x 2**2 = 4
i:4 -> sum:36 	0 x 2**1 = 0
i:5 -> sum:37 	1 x 2**0 = 1
Number found: 37

In [114]:
## Question 26

'''
stringObject[ start : stop : step]

where:
  start - index used as a starting point
        - if ommitted, Python will substitute with 0
  
  stop  - index used as a stopping point
        - if ommitted, Python will substitute with the 
          value of the length of the list

  step  - interva; used to step through the list
        - if ommitted, Python will substitute with 1

string = 'Happy'

#   H a p p y n e s s
#   0 1 2 3 4 5 6 7 8   with length of 9

string[1]   = string[0:1:1]   = 'H' ## start -> 0 AND step -> 1 
string[2:3] = string[2:3:1]   = 'p' ## step -> 1
string[:4:2]= string[0:4:2]   = 'Hp'## start ->  0

string[::-1]= string[0:9:-1]  = 'ssenyppaH' 


'''
string = 'Happyness'
print(f"test: ", string[2::-1], " vs\t", string[2:9:-1])



text = 'Python Course'
print(text[-1::-1])

# print(text[::-1])

test:  paH  vs
esruoC nohtyP

In [115]:
## Question 27

var1 = ''
var2 = ' '
var3 = '\n'
print(f"{type(var1)}\n{type(var2)}\n{type(var3)}")

<class 'str'>
<class 'str'>
<class 'str'>

In [116]:
## Question 28

var1 = None
var2 = False
var3 = 'True'

print(f"{type(var1)}\n{type(var2)}\n{type(var3)}")

<class 'NoneType'>
<class 'bool'>
<class 'str'>

In [117]:
## Question 29

flag = False

print(isinstance(flag, bool))

True

In [118]:
## Question 30

text = 'python is a popular programming language.'

print(text.capitalize())

Python is a popular programming language.

In [120]:
## Question 31

text = 'python is a popular programming language.'

count_p = text.count('p')
print('Number of occurences:', count_p)

Number of occurences: 4

In [131]:
## Question 32

code1 = 'FVNISJND-XX-2020'
code2 = 'FVNISJND-XY-2019'

print('code1:', code1[len(code1)-4::] == '2020')
print('code2:', code2[len(code2)-4::] == '2020')

'''
print(f"code1: {code1.endswith('2020')}")
print(f"code2: {code2.endswith('2020')}")
'''

code1: True
code2: False

In [146]:
## Question 33

path1 = 'youtube.com/watch?v=5EhRztVxums'
path2 = 'google.com/search?q=car'

print('path1:', ('youtube' in path1))
print('path2:', ('youtube' in path2))

# print(f"path1: {path1.startswith('youtube')}")
# print(f"path2: {path2.startswith('youtube')}")

path1: True
path2: False

In [149]:
## Question 34

path1 = 'https://e-smartdata.teachable.com/p/sciezka-data-scientist-machine-learning-engineer'
path2 = 'https://e-smartdata.teachable.com/p/sciezka-data-scientist-deep-learning-engineer'
path3 = 'https://e-smartdata.teachable.com/p/sciezka-bi-analyst-data-analyst'

print('path1:', path1.find('scientist'))
print('path2:', path2.find('scientist'))
print('path3:', path3.find('scientist'))

path1: 49
path2: 49
path3: -1

In [151]:
## Question 35

code1 = 'FVNISJND-20'
code2 = 'FVNISJND20'

print('code1:', code1.isalnum())
print('code2:', code2.isalnum())

code1: False
code2: True

In [153]:
## Question 36

text = 'Google Colab'

print(text.lower())

google colab

In [154]:
## Question 37

text = 'Google Colab'

print(text.upper())

GOOGLE COLAB

In [155]:
## Question 38

text = '  Google Colab   '

print(text.strip(' '))
# print(text.strip())

Google Colab

In [157]:
## Question 39

code = 'FVNISJND-XX'

print(code.replace('-',' '))

FVNISJND XX

In [160]:
## Question 40

text = '340-23-245-235'

print(text.replace('-',''))

34023245235

In [162]:
## Question 41

text = 'Open,High,Low,Close'

print(text.split(','))

['Open', 'High', 'Low', 'Close']

In [163]:
## Question 42

text = """Python is a general-purpose language.
Python is popular."""

print(text.split('\n'))

['Python is a general-purpose language.', 'Python is popular.']

In [169]:
## Question 43

num = 34

string = str(num)
zero_count = len(string) + 4

print(string.zfill(zero_count))

# print(str(num).zfill(6))

000034

In [178]:
## Question 44

url = 'https://e-smartdata.teachable.com/p/sciezka-data-scientist-machine-learning-engineer'

string = url.split('/')
print(string[len(string)-1].replace('-',' '))

'''
url = 'https://e-smartdata.teachable.com/p/sciezka-data-scientist-machine-learning-engineer'
name = url.split('/')[-1]
name = name.replace('-', ' ')
print(name)
'''

sciezka data scientist machine learning engineer

In [184]:
## Question 45

subjects = {'mathematics', 'biology'}
subjects.add('english')
print(subjects)

{'english', 'biology', 'mathematics'}

In [11]:
## Question 46

# change all letters to lowercase
# delete spaces and periods
# create a set consisting of all letters in the text and assign to letters variable
# remove all vowels from letters set

text = 'Programming in python.'
vowels = {'a', 'e', 'i', 'o', 'u'}

text = text.lower()
text = "".join(text.split())
text = "".join(text.split('.'))

letters = set(text)
letters.difference_update(vowels)
items = len(letters)
# print( f'{set(text)} \n{vowels}\n{letters}\t length: {items}')

print('Number of items:', items)


  # text = text.lower()
  # text = text.replace(' ', '')
  # text = text.replace('.', '')
  # vowels = {'a', 'e', 'i', 'o', 'u'}
  # letters = set(text)
  # consonants = letters.difference(vowels)
  # print(f'Number of items: {len(consonants)}')

Number of items: 8

In [13]:
## Question 47

A = {2, 4, 6, 8}
B = {4, 10}

print('Symmetric difference:', A.symmetric_difference(B) )

Symmetrical difference: {2, 6, 8, 10}

In [14]:
## Question 48

ad1_id = {'001', '002', '003'}
ad2_id = {'002', '003', '007'}

id = ad1_id.symmetric_difference(ad2_id)
print('Selected ID:', id)

Selected ID: {'007', '001'}

In [16]:
## Question 49

is_clicked = {'9001', '9002', '9005'}
is_bought =  {'9002', '9004', '9005'}

result = is_clicked.intersection(is_bought)
print('Customer ID:', result)

Customer ID: {'9002', '9005'}

In [19]:
## Question 50

dji1 = ('AAPL.US', 'IBM.US', 'MSFT.US')
dji2 = ('HD.US', 'GS.US', 'NKE.US')

result = dji1 + dji2
print(result)

('AAPL.US', 'IBM.US', 'MSFT.US', 'HD.US', 'GS.US', 'NKE.US')