<a href="https://colab.research.google.com/github/zhemnic/Learning-Repo/blob/master/Exercise_Beginner.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
## Question 1

print('Learn Python!')

Learn Python!

In [3]:
## Question 2

age = 20
print(f'I am {age} years old.')

I am 20 years old.

In [4]:
## Question 3
my_language = 'Python'
my_version = '3.8'

print(f'I am learning {my_language} version {my_version}')

I am learning Python version 3.8

In [5]:
## Question 4
price = 199.99
print('This costs',price)

This costs 199.99

In [6]:
## Question 5
price = 69.99
print(f'This costs {price}')

This costs 69.99

In [7]:
## Question 6
product_price = 34.99
product_weight = 20

print(f'Price: ${product_price}. Weight: {product_weight} lbs.')

Price: $34.99. Weight: 20 lbs.

In [9]:
## Question 7

pi = 3.1415926535
print(f"Pi: {pi:.2f}")

Pi: 3.14

In [11]:
## Question 8

dashes = '----------------------------------------'
version = 'VERSION: 1.0.1'
# len(dashes)

print(dashes)
print(version)
print(dashes)

----------------------------------------
VERSION: 1.0.1
----------------------------------------

In [12]:
## Question 9

line1 = 'author: johnsmith@sample.com'
line2 = 'date: 01-01-2021'

print('='*40)
print('author: johnsmith@sample.com')
print('date: 01-01-2021')
print('='*40)

========================================
author: johnsmith@sample.com
date: 01-01-2021
========================================

In [14]:
## Question 10

print('\'summer', 'time','holiday\'',sep='#')

'summer#time#holiday'

In [17]:
## Question 11

pi = 3.14
radius = 5
area = (pi)*(radius**2)
print(f'Area: {area}')

Area: 78.5

In [16]:
area

78.5

In [35]:
## Question 12
'''

Simple Interest Formula: A = P (1 + rt)
***********************

  A	=	final amount
  P	=	initial principal balance
  r	=	annual interest rate
  t	=	time (in years
  
Compound Interest Formula: A = P(1 + \frac{r}{n})^{nt}

  A	=	final amount
  P	=	initial principal balance
  r	=	interest rate
  n	=	number of times interest applied per time period e.g. (1 - yearly | 12 - monthly | 54 - weekly)
  t	=	number of time periods elapsed

'''

# answer: 1159.27

P = 1000
r = 3/100
n = 1
t = 5

A = P * (1+(r/n))**(n*t)

print("The future value of the investment:", round(A,2), "USD")

The future value of the investment: 1159.27 USD

In [38]:
# import the math module 
import math 

## Question 13

# 3x^2 -4x + 1 = 0

'''
# calculate the discriminant  
d = (b**2) - (4*a*c)  
  
# find two solutions  
sol1 = (-b-cmath.sqrt(d))/(2*a)  
sol2 = (-b+cmath.sqrt(d))/(2*a)  

'''

a = 3
b = -4
c = 1

d = (b**2) - (4*a*c)            # (16 - 12) = 4
                                # Delta = b^2 -4ac

# sol1 = (-b-math.sqrt(d))/(2*a)  # (-4-2)/6 -> -1 
# sol2 = (-b+math.sqrt(d))/(2*a)  # (-4+2)/6 -> 1/3 

delta = (b**2) - (4*a*c)
print(f"Delta: {delta}")

Delta: 4

In [46]:
## Question 14

'''
an = 10 + 4n

'''

sum = 0
sequence = 10

for e in range(1, (sequence + 1) ):
  sum = sum + (10 + 4*e)
  ## print(f"{e} makes sum to be {sum}") # debug


print(f"The sum of the first {sequence} elements in a sequence: {float(sum)}")

The sum of the first 10 elements in a sequence: 320.0

In [52]:
## Question 15

'''
nth term = 8 * (2**(n-1))
  where n is the number of sequences
'''
sum2 = 0
sequence = 6

for n in range(1, (sequence + 1)):
  sum2 = sum2 + 8 * (2**(n-1))

print(f"The sum of the first {sequence} elements of the sequence is: {float(sum2)}")

The sum of the first 6 elements of the sequence is: 504.0

In [53]:
## Question 16

'''
Vieta's Formula

ax^2 + bx + c = 0

  Theorem 1
  *********

    Let r1 and r2 be the roots of the quadratic equation ax2 + bx + c = 0. 
    Then the two identities:

      r1 + r2 = −b/a and  r1 * r2 = c/a

    both hold

'''

a = 1
b = 5
c = 4

r1_add_r2 = (-1) * (b/a)
r1_multiply_r2 = (c/a)

print(f'x1 + x2 = {r1_add_r2}')
print(f'x1x2 = {r1_multiply_r2}')

x1 + x2 = -5.0
x1x2 = 4.0

In [55]:
## Question 17

'''
Midpoint Formula:
****************

  Midpoint = (mx, my)
  Midpoint = ( (x1 + x2)/2 , (y1 + y2)/2 )

'''
# A = (2,4)   B = (-4,6)

x1 = 2
y1 = 4

x2 = -4
y2 = 6

mx = (x1 + x2)/2
my = (y1 + y2)/2

print(f"The middle point: ({mx}, {my})")

The middle point: (-1.0, 5.0)

In [58]:
# import the math module 
import math

## Question 18

'''
Distance Formula:
*****************

  Distance = math.sqrt( (x2-x1)**2 + (y2-y1)**2 )

'''

# A = (3,2)   B = (-1, -1)

x1 = 3
y1 = 2

x2 = -1
y2 = -1

d = math.sqrt( (x2-x1)**2 + (y2-y1)**2 )

print(f'The distance between points A and B: {d}')

The distance between points A and B: 5.0

In [64]:
## Question 19

import math

'''
  d = (b**2) - (4*a*c)  

  # find two solutions  
  sol1 = (-b-math.sqrt(d))/(2*a)  
  sol2 = (-b+math.sqrt(d))/(2*a) 
'''

a = 1
b = 5
c = 4

d = (b**2) - (4*a*c)  

x1 = (-b-math.sqrt(d))/(2*a)  
x2 = (-b+math.sqrt(d))/(2*a)

print(f"x1 = {x1}")
print(f"x2 = {x2}")

x1 = -4.0
x2 = -1.0

In [69]:
# Question 20

'''
  Formula for Geometric Mean (grouped data):  Gm = Antilog( (sum of log(x) / n ) )
  where: 
    n is the single elements
    x is the number of iterations

'''

import math

sum_of_logs = 0
grouped_data = [ 4, 3, 4.5, 5]

for i in range(0, len(grouped_data)):
  x = grouped_data[i]
  sum_of_logs = sum_of_logs + math.log(x)
  print(f"{i} - sum is {sum_of_logs} because log({x}): {math.log(x)}")

print("\n")
geometric_mean = math.exp(sum_of_logs/len(grouped_data))

print(f"Geometric average of the given numbers: {geometric_mean:.2f}")

0 - sum is 1.3862943611198906 because log(4): 1.3862943611198906
1 - sum is 2.4849066497880004 because log(3): 1.0986122886681098
2 - sum is 3.9889840465642745 because log(4.5): 1.5040773967762742
3 - sum is 5.598421958998375 because log(5): 1.6094379124341003


Geometric average of the given numbers: 4.05